<% if user_signed_in? %>

<div class="row">
	<div class="col-xs-3">
		<div class="form_create">
		<h2>User info</h2>
			<table class="table">
				<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_img.jpg" %>
				<tbody>
					<tr>
						<th>name</th>
						<th><%= @user.name %></th>
					</tr>
					<tr>
						<th>introduction</th>
						<th><%= @user.introduction  %></th>
					</tr>
				</tbody>
			</table>
			<% if @user.id == current_user.id %>
			<%= link_to "" , edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{@user.id}" %>
			<%end%>
		<div class="action row"></div>
	<% if @user.id == current_user.id %>
		<h2>New book</h2>
		<%= form_for(@book) do |f| %>
		<div class="action row">
			<label>Title</label>
			<%= f.text_field :title, class: "col-xs-12 book_title"%>
		
		</div>
		<div class="action row">
			<label>Opinion</label>
			<%= f.text_area :body,  class: "col-xs-12 book_body"%>
		</div>
		
		<div class="action row before">
			<%= f.submit "Create Book" , class: "btn btn-primary col-xs-12"%>
		</div>
		<% end %>
		<%end%>
	</div>
	</div>
	<div class="col-xs-9">
		<h2>Books</h2>
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th>title</th>
					<th>Opinion</th>
				</tr>
			</thead>
			<% @books.each do |book| %>
			<tbddy>
				<tr>
					<td>
						<%= attachment_image_tag @user, :profile_image,:fill, 60, 60, fallback: "no_img.jpg", class: "bookimage img-circle pull-left profile-thumb" %>
						</td>
					<td>
						<%= link_to book.title,book_path(id: book.id), class: "book_#{book.id}" %>
					</td>
					<td>
						<%= book.body %>
					</td>
			  	</tr>
			    </tbddy>
		    	<%end%>
	      	</table>
         	</div>
          </div>
          <%end%>